{% extends 'base.html' %}
{% block content %}

<style>
    img {
      width: 300px;
      height: 300px;
      border: solid 2px black;
    }

    .big {
      width: 1000px;
      height: 350px;
      border: solid 2px black;
    }
    </style>

<h4>{{destination.name}}</h4> 
<div class="detail__image">
    <img class="big"src="{{destination.image}}" alt="{{destination.name}}" />
</div>
    {% if destination.verified_destination %}
    <div class="icon-text">
        <span class="icon has-text-info">
            <i class="fas fa-check-circle"></i>
        </span>
        <span>Verified</span>
    </div>
</div>
 <form class="mb-5" action="{% url 'spot_create' destination.pk %}" method="post">
            {% csrf_token %}
            <div class="field has-addons">
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="name"
                        placeholder="Name"
                        required
                    />
                </div>
                <div class="control">
                    <input
                    class="input"
                    type="text"
                    name="name"
                    placeholder="image"
                    required
                    />
                </div>
                <div class="control">
                    <input class="button is-primary" type="submit" value="Add spot" />
                </div>
            </div>
        </form>
        <div class="buttons">
            <a href="{% url 'destination_update' destination.pk %}" class="button is-info">
                <span class="icon">
                    <i class="fas fa-edit"></i>
                </span>
            </a>
            <span class="icon">
                <a href="{% url 'destination_delete' destination.pk %}" class="button is-danger">
                    <i class="fas fa-trash-alt"></i>
            </span>
            </a>
        </div>
        <div class="detail__about">
            <h4 class="name is-4">About</h4>
            <p>{{destination.description}}</p>
        </div>
    </br>
        <h4 class="name is-4">Spots or Activities around Town</h4>
        {% for spot in destination.spots.all %}
        <div class="spot">
            <span>{{forloop.counter}}</span>.
            <span><b>{{spot.name}}</b></span>
        </br>
            <span><img src="{{spot.image}}"></span>
            <span><p>{{spot.description}}</p></span>
            <span>
                <div class="dropdown">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span>Add to List</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            {% for List in Lists %}
                            <a href="{% url 'List_spot_assoc' List.pk spot.pk %}?assoc=add" class="dropdown-item">{{ List.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </span>
        </div>
        {% empty %}
        <article class="message">
            <div class="message-header">
                <p>No spots Available</p>
            </div>
        </article>
        {% endfor %}
    </div>
   
</div>
{% endif %}
{% endblock %}