{% extends 'base.html' %}
{% block content %}
<h4>Best Vacation Spots</h4>

<form class="mb-5" method="get">
  <div class="field has-addons">
    <div class="control">
      <!--  Our input will search by name of spot  -->
      <input class="input" type="text" name="name" placeholder="name" />
    </div>
    <div class="control">
      <input class="button is-success" type="submit" value="Search" />
    </div>
  </div>
  <!--  This anchor tag will redirect back to spot list without a query param -->
  <a class="button is-dark" href="{% url 'spot_list' %}">Clear Search</a>
</form>
<div class="gallery">
  {% for spot in spot %}
  <a href="{% url 'spot_list' spot.pk %}">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{spot.image}}" alt="{{spot.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{spot.name}}</p>
      </div>
    </div>
  </a>
  {% empty %}
    <article class="message">
        <div class="message-header">
            <p>No spot Available</p>
        </div>
    </article>
  {% endfor %}
</div>

{% endblock %}